*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    word-break: break-all;
}
body{
    margin: 0;
    padding: 2em 0;
    display: flex;
    align-items: center;
    height: 100vh;
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;

    /* BODY BACKGROUND COLOR */
    background-color: #082032;
}

.main hr{
    border: 1px solid #FFD384;
}


/* FONT COLORS */
.icon, .section-1{
    color: #FFD384;
}

a{
    color: aliceblue;
    text-decoration: none;
}
div.container{
    display: flex;
    max-width: 1500px;
    min-width: 1500px;
    margin: auto;
    justify-content: center;
    gap: 2em;
}

.side, .main{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    /* SIDE AND MAIN CONTAINER BACKGROUD COLOR */
    background-color: #2C394B; 
}

.what-i-do .item, .portfolio__items .item .image, .side__contact div .icon{

    /* SIDE AND MAIN BOXES COLORs */
    background-color: #334756;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .5em;
}


.side{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    width: 17%;
    height: 50%;
    gap: 1em;
}

.side__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(255,255,255, .2) ;
    
}

.side__header img{
    width: 50%;
    height: 100%;
    border-radius: 50%;
    padding: 1em;

    /* IMAGE BACKGROUND */
    background-color: #334756;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.side__header label{
    font-size: 1.5em;
}

.side .designation{
    font-size: .7em;
    font-weight: 700;
    padding:.25em 1.5em;
    border-radius: .75em;
    border: 1px solid white;
}

.side .side__contact{
    display: flex;
    flex-direction: column;
    padding: 1em 0 ;
    gap: 1em;
}

.side .side__contact .socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1em;
}

.side .side__contact .socials i{
    padding: .25em;
    font-size: 1.25em;
}

.side .side__contact div div{
    display: flex;
    flex-direction: column;
}
.side .side__contact div{
    display: flex;
}
.side .side__contact div .icon{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    height: 2em;
    padding: .5em;
}

.side .side__contact div .info{
    padding-left: 1em;
}

.side .side__switch{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .25em;
    gap: .25em;
    background-color: #082032;
    border-radius: .85em;
}

.side .side__switch .switch{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: .75em;
    padding: .5em;
}
.side .side__switch .switch a{
    width: 100%;
    text-align: center;
    letter-spacing: .10em;    
}

.side .side__switch .active{
    background-color: #2C394B;
}
.side .side__switch .active a{
    font-weight: 700;
}

.side .side__switch__label{
    padding: 0;
    margin-top: -1em;
    margin-left: 1em;
    letter-spacing: .05em;
    line-height: 1em;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1rem;
    align-self: flex-start;
}
.side .side__switch__label span.before{
    font-size:1.5em;
    color: #FFD384;
}

.side .side__switch__label span.next{
    margin-left: 5em;
}


.main{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    width: 60%;
    height: 100%;
}

.main .about-me, .what-i-do, .portfolio{
    padding: 1em;
}
.main .header{
    margin-bottom: 1em;
}
.main hr{
    width: 2em;
}
.main .main__about .what-i-do{
    display: flex;
    flex-direction: column;
}
.what-i-do__items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.what-i-do__items .item{
    display: flex;
    width: 49%;
    padding: 1em;
    gap: .75em;
}
.what-i-do__items .section-1{
    font-size: 1.5em;
    margin-top: .25em;
}


.portfolio__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .5em;
}
.portfolio__items .item{
    border-radius: 2.5px;
    display: flex;
    flex-direction: column;
    max-width: 32%;
}
.portfolio__items .item .image{
    padding: .5em;
    border-radius: 1em;
}
.portfolio__items .item .image img{
    max-width:100%;
    max-height:100%;
    border-radius: 1em;
    object-fit: contain;
}

.portfolio__items .item .header{
    padding: .5em;
    display: flex;
    flex-direction: column;

}

.portfolio__items .item .header :nth-child(2){
    opacity: .6;
}


